<!DOCTYPE HTML>
<html>
<head>
<style>
#div1 {
    width: 350px;
    height: 70px;
    padding: 10px;
    border: 1px solid #aaaaaa;
}
</style>
<script type="text/JavaScript">
function allowDrop(ev) {
    ev.preventDefault();
}

function drag(ev) {
    ev.dataTransfer.setData("text", ev.target.id);
}

function drop(ev) {
    ev.preventDefault();
    var data = ev.dataTransfer.getData("text");
    ev.target.appendChild(document.getElementById(data));
}
</script>
</head>
<body>

<p>Drag the W3Schools image into the rectangle:</p>

<div id="div1" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
<div id="div1" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
<br>
    <div class="appointment" id="drag2" style="height: 60; top:140" draggable="true" ondragstart="drag(event)">

            <a href"#" class="title">
              <h4>Title</h4>
            </a>
            <p>Description</p>
            
        </div>
        <hr>
        <div class="appointment" id="drag2" style="height: 60; top:140" draggable="true" ondragstart="drag(event)">

            <a href"#" class="title">
              <h4>Title</h4>
            </a>
            <p>Description</p>
            
        </div>
        <hr>
</body>
</html>
<!--
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Login</title>
    
    Bootstrap core CSS 
    <link href="bootstrap.min.css" rel="stylesheet">

    Custom styles for this template 
    <link href="signin.css" rel="stylesheet">
  </head>
  <body>
    <script>
    window.fbAsyncInit = function() {
    FB.init({
      appId      : '{317783162076403}',
      cookie     : true,
      xfbml      : true,
      version    : '{v4.0}'
    });
      
    FB.AppEvents.logPageView();   
      
    };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "https://connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>

    <div class="container">

      <form class="form-signin">
        <h1 class="form-signin-heading" style="text-align: center">Please Log In</h1>
         <p class="facebookLogin">Login through Facebook</p>
        <fb:login-button scope="public_profile,email" onlogin="checkLoginState();">
        </fb:login-button>
        <label for="inputEmail" class="sr-only"></label>
        <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
        <label for="inputPassword" class="sr-only"></label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
        <div class="checkbox">
          <label>
            <input type="checkbox" value="remember-me"> Remember me
          </label>
        </div>
        <a href="/"><button class="btn btn-lg btn-block" type="button">Log In</button></a>
      </form>

    </div> /container 



    Bootstrap core JavaScript
    ================================================== 
     Placed at the end of the document so the pages load faster 
     IE10 viewport hack for Surface/desktop Windows 8 bug -
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
-->