h1 {
  text-align: center;
  font-size: 36px;
  margin-bottom: 20px;
  margin-top: 0px;
  font-family: Georgia, Burford, Arial, Helvetica, sans-serif;
}

.form-inline label {
    margin-right: 10px;
  }

.form-inline input {
    border:1px; 
    border-bottom-style: solid;
    border-top-style: none;
    border-left-style:none;
    border-right-style:none;
    position: relative;
  }


.buttonHolder {
  text-align: center;
  position: relative;
}

.btn-add {
  width: 140px;
  height: 50px;
  margin-top: 20%;
}

.btn-back {
  margin-top: 10px;
  background-color: #FF6A5C;
}

a {
  color: #ffffff;
}

body {
  background-color: #056571;
  font-family: Georgia, Burford, Arial, Helvetica, sans-serif;
}

.sub 
{
  margin-left: 20%;
}
