/* applies to anything of class "example-class-selector" */
.example-class-selector {
	margin-top: 2em;
}

/* applies to any <p> descendants of an element of class "example-class-selector" */
.example-class-selector p {
	/* Colors are in hexadecimal: http://www.colorpicker.com/ */	
	color: #CC00AA;
}
.task {
	position: absolute;
	text-decoration-color: #ffffff;
	right:0;
	width: 90%;
	margin-left: auto;
    background-color: #414141;
    text-align: center;
    padding: 2px;
    border: 2px solid #302e2e;
    border-radius: 10px;
}
.appointment {
	position: absolute;
	right:0;
	width: 90%;
	margin-left: auto;
    background-color: #FF6A5C;
    text-align: center;
    padding: 2px;
    border: 2px solid #e55042;
    border-radius: 10px;
}
.indicatorLineTask {
	position: absolute;
	height:5px;
	width: : 50px;
	z-index: 10;
	background-color: #414141;
	/*border: 2px solid #302e2e;*/
	


}
.indicatorLineAppointment {
	position: absolute;
	height:5px;
	width: : 50%;
	background-color: #FF6A5C;
	border: 2px solid #e55042;
	


}

.header {
	text-align: center;
	position: sticky;
	height: 40%;
	top: 0;
	z-index: 10;
	background-color: #056571;
	border: 2px solid ##525354;
}
.timeMarker {
	position: absolute;
	color: #ffffff;
    left: 5px;
    width: 100%;
}
.subTimeMarker {
	position: absolute;
    color: #b2b0b0;
    left: 10px;
    width: 100%;
}
.loginPrompt {
	text-align: center;
	position: fixed;
	right: 5%;
	top: 35%;
	z-index: 11;
    width: 90%;
    height: 30%;
	background-color: #efc35d;
	border: 2px solid #e29f31;
}
.reschedulePrompt {
	text-align: center;
	position: fixed;
	right: 5%;
	top: 35%;
	z-index: 11;
    width: 90%;
    height: 30%;
	background-color: #efc35d;
	border: 2px solid #e29f31;
}

h1, h2, h3, h5 {
	color: #353638;
}

h4 {
	color: white;
}

body {
	background-color: #056571;
}

button {
    background-color: #FF6A5C;
    color: white;
    }
}