/* Keyword values */
touch-action: auto;
touch-action: none;
touch-action: pan-x;
touch-action: pan-left;
touch-action: pan-right;
touch-action: pan-y;
touch-action: pan-up;
touch-action: pan-down;
touch-action: pinch-zoom;
touch-action: manipulation;

/* Global values */
touch-action: inherit;
touch-action: initial;
touch-action: unset;


/* applies to anything of class "example-class-selector" */
.example-class-selector {
	margin-top: 2em;
}

/* applies to any <p> descendants of an element of class "example-class-selector" */
.example-class-selector p {
	/* Colors are in hexadecimal: http://www.colorpicker.com/ */	
	color: #CC00AA;
}
.task {
	position: absolute;
	text-decoration-color: #ffffff;
	right:10%;
	width: 80%;
	margin-left: auto;
    background-color: #ef9e9e;
    padding: 2px;
    border: 2px solid #EB5757;
    border-radius: 5px;
    touch-action: none;

}
.appointment {
	position: absolute;
	right:10%;
	width: 80%;
	margin-left: auto;
    background-color: #efc097;
    text-align: center;
    padding: 2px;
    border: 2px solid #F2994A;
    border-radius: 5px;
    touch-action: none;
}
.eventMarker {
	position: absolute;
	right:8%;
	width: 84%;
	margin-left: auto;
    background-color: #8FC0A9;
    text-align: center;
    padding: 2px;
    border: 2px solid #0e9355;
    border-radius: 5px;
    touch-action: none;
    z-index: -1;
}
.indicatorLineTask {
	position: absolute;
	height:5px;
	width: : 50px;
	z-index: 10;
	background-color: #414141;
	/*border: 2px solid #302e2e;*/
	


}
.indicatorLineAppointment {
	position: absolute;
	height:5px;
	width: : 50%;
	background-color: #FF6A5C;
	border: 2px solid #e55042;
	


}

.vl {
    border-left: 1px;
    border: 1px solid #c6c6c6;
    height: 152%;
    position: absolute;
    left: 8%;
    margin-left: -3px;
    top: 10;
}

.header {
	text-align: center;
	position: sticky;
	height: 40%;
	top: 0;
	z-index: 10;

	background-color: #ffffff;
	border: 2px solid ##525354;
}
.timeMarker {
	position: absolute;
	color: #414141;
    left: 5px;
    width: 100%;
    font-size: 12px;
    font-family: Montserrat, Arial, Georgia, Burford, Arial, Helvetica, sans-serif;
}
.subTimeMarker {
	position: absolute;
    color: #b2b0b0;
    left: 5px;
    width: 100%;
    font-size: 12px;
    font-family: Montserrat, Arial, Georgia, Burford, Arial, Helvetica, sans-serif;
}
.loginPrompt {
	text-align: center;
	position: fixed;
	right: 5%;
	top: 35%;
	z-index: 11;
    width: 90%;
    height: 30%;
	background-color: #efc35d;
	border: 2px solid #e29f31;
}
.reschedulePrompt {
	text-align: center;
	position: fixed;
	right: 5%;
	top: 35%;
	z-index: 11;
    width: 80%;
    height: 20%;
	background-color: #efc35d;
	border: 2px solid #e29f31;
	border-radius: 20px;
	font-family: Georgia, Burford, Arial, Helvetica, sans-serif;
}

h1, h2, h3, h5 {
	color: #000000;
	font-size: 20px;
	font-family: Montserrat, Arial, Georgia, Burford, Arial, Helvetica;
}

h4 {
	color: #000000;
	font-size: 18px;
	font-family: Montserrat, Arial, Georgia, Burford, Arial, Helvetica, sans-serif;
}

body {
	background-color: #ffffff;
	font-family: Montserrat,Georgia, Burford, Arial, Helvetica, sans-serif;
}

button {
    background-color: #E0E0E0;
    border: 1px solid #BDBDBD;
    border-radius: 5px;
    font-family: Montserrat,Georgia, Burford, Arial, Helvetica, sans-serif;

}

.btn-re {
	border-radius-right: 5px;
    margin-left: 10px;
    margin-right: 10px;
    width: 120px;
}

.addPrompt {
	background-color: #8fc0d3;
	border: 2px solid #073c50;
	z-index: 12;
	position: fixed;
	top:15%;
	left:5%;
	width: 90%;
	height: 70%;
	border-radius: 5px;
}

.title {
	text-align: center;
}

.buttonHolder {
	text-align: center;
}