/* applies to anything of class "example-class-selector" */
.example-class-selector {
	margin-top: 2em;
}

/* applies to any <p> descendants of an element of class "example-class-selector" */
.example-class-selector p {
	/* Colors are in hexadecimal: http://www.colorpicker.com/ */	
	color: #CC00AA;
}
.task {
	position: absolute;
	right:0;
	width: 90%;

	/*height: 30%;*/
	margin-left: auto;
    background-color: #ef8b8b;
    text-align: center;
    padding: 2px;
    border: 2px solid #cc5555;
    border-radius: 10px;
}
.appointment {
	position: absolute;
	right:0;
	width: 90%;
	/*height:100px;*/
	/*height: 30%;*/
	margin-left: auto;
    background-color: #a8e88d;
    text-align: center;
    padding: 2px;
    border: 2px solid #699b53;
    border-radius: 10px;
}
.header {
	text-align: center;
	position: sticky;
	height: 30%;
	top: 0;
	z-index: 10;
	background-color: #ffffffff
	border: 2px solid ##707070;
}
.timeMarker {
	position: absolute;
    left: 5px;
}
.subTimeMarker {
	position: absolute;
    color: #a3a3a3;
}
.loginPrompt {
	text-align: center;
	position: fixed;
	right: 5%;
	top: 35%;
	z-index: 11;
    width: 90%;
    height: 30%;
	background-color: #efc35d;
	border: 2px solid #e29f31;
}
h1, h2, h3, h4, h5 {
	color: #353638;
}