body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #056571;
  font-family: Georgia, Burford, Arial, Helvetica, sans-serif;
}

button {
    background-color: #FF6A5C;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    font-family: Arial;
    font-size: 15px;
    }

    input[type=email], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    
}

h1 {
  text-align: center;
  font-size: 36px;
  margin-bottom: 20px;
  margin-top: 0px;
  font-family: Georgia, Burford, Arial, Helvetica, sans-serif;
}

.buttonHolder {
  text-align: center;
  position: relative;
  margin-top: 20%;
}


.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
  color: white;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
